* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  overflow:hidden;
}

.form-group {
  margin-bottom: 0.5em;
}

.form-group label {
  display: inline;
}

.wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}

.login-form-div {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  margin-top: 14vh;
  padding: 0 3em 0 3em;
  width: 50%;
}

.login-form-and-greetings {
  font-family: roboto;
  flex: 1;
  padding: 2em;
}

.login-form-and-greetings p {
  font-weight: 400;
  font-size: 1em;
  line-height: 1em;
  margin-bottom: 1px;
}

.login-img {
  width: 50%;
  background-position: center;
  background-image: url(./assets/css/images/mountainImage.jpg);
}

.login-form-and-greetings h2 {
  font-weight: 700;
  font-size: 2.2em;
  line-height: 1.3em;
}

.login-form {
  margin-top: 2.1em;
}

.login-form-and-greetings button {
  width: 100%;
  margin-top: 3em;
  height: 50px;
}

.submit-button {
  background-color:#04C35C;
  color: white;
  border-color: rgb(177, 177, 177);
}

.submit-button:focus, .form-control:focus {
  box-shadow: 0.2em 1em 4em rgba(78, 78, 78, 0.25);
}

#create-link, #login-link {
  margin-left: auto;
  margin-right: auto;
}

